<!--<li class="list-group-item">-->
    <li [ngClass]="{'list-group-item':true, 
                    'list-group-item-success':appareilStatus ==='allumé',
                    'list-group-item-danger':appareilStatus ==='éteint'}">
    <!-- <div 
    style="width:20px; height: 20px; background-color: red;"
    *ngIf="appareilStatus=='éteint'"></div> -->
    <!--
        interepolation {{ }}data provient du fichier ts vers html
    -->
    <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Status : {{ getStatus() }}</h4>

    <a [routerLink]="[id]">Détail</a>&nbsp;
     <!--
        Two-way binding [(ngModel)] liaison de deux sens du fichier ts vers html et vise versa
        <input type="text" class="form-control" [(ngModel)]="appareilName" >
    -->
    <button class="btn btn-success" 
    (click)="allumeUn()" [disabled]="appareilStatus==='allumé'">allumer</button>

    <button class="btn btn-danger" 
    (click)="eteintUn()" [disabled]="appareilStatus==='éteint'">éteint</button>
</li>